.p1:first-line{
    color: red;
}
.p2:first-letter{
   font-size: 20px;
   font-weight: bold;
}
p.after:after{
    content:url("../images/icon1.png");
}
p.before::before{
    content:url("../images/icon1.png");

}
ul.ul1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
ul.ul1 li{
    text-align: center;
    border-top: 1px solid #555;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    border-bottom: none;
}
ul.ul1 li:last-child{
    border-bottom: 1px solid #555;
}
.ul1 li a{
    display: block;
    color:#000;
    padding: 8px 16px;
    text-decoration: none;
}
.ul1 li a.active{
    background-color:yellowgreen;
    color: white;
}
.ul1 li a:hover{
    background-color: #555;
    color: white;
}
ul.ul2{
    list-style-type: none;
    margin:0;
    padding:0;
    /*当子元素float时,需要给父级元素添加overflow:hidden使父级元素的高度随子级容器及子级元素的高度而自适应*/
    overflow: hidden;
    border:1px solid #e7e7e7;
    background-color: #f3f3f3;
    width: 25%;
}
ul.ul2 li{
    float: left;
}
.ul2 li a {
    display: block;
    color:#666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.ul2 li a:hover{
    background-color: #ddd;
}
.ul2 li a.active{
    color: white;
    background-color: #4CAF50;
}
.dropbtn{
    background-color: #4cAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown{
    position:relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a{
    display: block;
    padding:12px 16px;
    text-decoration: none;
    display: block;
    color:black;
}
.dropdown-content a:hover{
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content{
display: block;
}
.dropdown:hover .dropbtn{
    background-color: #3e8e41;
}
.tooltip{
    background-color: blanchedalmond;
    border: 1px solid blanchedalmond;
    border-radius: 10%;
    font-size: 16px;
    padding: 16px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color:#fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position:absolute;
    z-index:1;
    bottom:100%;
    left:50%;
    margin-left: -60px;
    /*淡入 */
    opacity: 0;
    transition: opacity 1s;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}
*{
    box-sizing: border-box;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.col-25{
    float:left;
    width: 25%;
    margin-top: 6px;
}
.col-75{
    float: left;
    width: 75%;
    margin-top:6px;
}
/*清除浮动*/
.row:after{
    content: "";
    display: table;
    clear: both;
}
/*响应式布局*/
@media screen and (max-width:600px){
    .col-25,.col-75,input[type=submit]{
        width: 100%;
        margin-top: 0;
    }
}
.col-75 #textarea{
    width: 200px;
}
input[type=text],select,textarea{
    width: 100%;
    padding: 12px;
    border:1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 16px 22px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}
input[type=submit]:hover{
    background-color: #45a049;
}